<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Bootstrap.php">
    <testsuites>
        <testsuite name="lib-Test-Suite">
            <directory suffix="Test.php">./libTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/lib/</directory>
            <exclude>
                <directory>../vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>